        body {
            background-color: rgb(200, 206, 226);
            color:rgb(73, 73, 74);
        }

        p {
            color:rgb(0, 0, 0)
        }

        h3 {
            color: rgb(85, 85, 93)
        }

        td {
            color:rgb(0, 0, 0)
        }

        h1 {
            color:black;
            background-color: rgb(154, 167, 179);
        }

        li {
            color:black
        }

        .favorite-games {
            background-color: rgb(245, 85, 87);
        }

        .more-about-hobbies {
            background-color:rgb(157, 128, 236)
        }